@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #ffccd4;
}


.title{
    text-align: center;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size:50px;
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space:nowrap;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 10px 20px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;

}

.header-background{
    background-color: white;  
}

.head{
    margin-top:25px;
}

button{
    font-family:'Alumni Sans Pinstripe', sans-serif;
    font-style: bold;
    font-size: 20px;
    padding: 10px 15px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button:hover {
    background-color: #ADD8E6;
    
}

ul{
    display:flex;
}
